<meta charset="UTF-8">
<title>Shuffle+</title>
<link type="text/css" rel="stylesheet" href="basicstyle.css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="pagecontroller.js">
      var currentPlaylist = "";
      var shuffleType = "random";
      var shuffleParam = "";
      var beginning = "";
      var rankings = {};

      if ("<%= env %>" === "Local") {
        beginning = "http://localhost:5000";
      } else {
        beginning = "http://shuffleplus.herokuapp.com";
      }

      var renderTracklist = function(caller){
        //If the playlist is different from the previous one
        if (caller.getAttribute("id") !== currentPlaylist){
          $("#shuffleType-random").prop('checked', true);
          $('#category-div').html("");
          if ($("#spreadoptions").is(':visible')){
            $('#spreadoptions').slideToggle("fast");
          }
          if ($("#biasoptions").is(':visible')){
            $('#biasoptions').slideToggle("fast");
          }
        }
        //Get tracklist id from html button element
        currentPlaylist = caller.getAttribute("id");

        //Call the get-tracks endpoint with the given playlist's id
        $.ajax({
          url: beginning + "/get-tracks/<%= user_id %>/" + currentPlaylist + "/<%= access_token %>",
          context: document.body
        }).done(function(data){
          $("#tl-div").html(data);
          var src = "https://embed.spotify.com/?uri=spotify:user:<%= user_id %>:playlist:"+ currentPlaylist + "&theme=white&view=coverart";
          var player = document.createElement("iframe");
          player.setAttribute("frameborder", "0");
          player.setAttribute("allowtransparency", "true");
          player.setAttribute("src", src);
          $("#tracks").prepend(player);
          //Append the returned html to the tracklist div
        });
      }n repo

      var shufflePlaylist = function(caller){
        $("#error_message").html("");
        if (currentPlaylist === ""){
          $("#error_message").html("Please select a playlist");
          return
        }
        if (shuffleParam === "" && shuffleType !== "random") {
          $("#error_message").html("Please select a category to shuffle by");
          return
        }
        $("#tl-div").html("<p>Shuffling...</p>");
        url = beginning + "/shuffle";
        if (shuffleType === "biased"){
          getRanks(rankings);
          console.log(rankings);
        }
        $.ajax({
          url: url,
          type: "POST",
          data: {
            playlist_id: currentPlaylist,
            access_token: "<%= access_token %>",
            shuffleStyle: shuffleType,
            shuffleParam: shuffleParam,
            user_id: <%= user_id %>,
            rankings: rankings
          },
          context: document.body
        }).done(function(data){
          if (data === "Shuffle Success") {
            console.log("Shuffle Success");
            document.getElementsByName(currentPlaylist)[0].click();
          }
          else {
            console.log("Shuffle Error");
          }
        });
      }

      var getCategories = function(){
        console.log("Getting categories");
        $.ajax({
          url: beginning + "/get-categories/" + shuffleParam,
          context: document.body
        }).done(function(data){
          $("#category-div").html(data);
        });
      }

      var getRanks = function(rankings){
        var nodeList = document.getElementsByTagName("select");
        var categories = Array.from(nodeList);
        for (i = 0; i < categories.length; i++){
          rankings[categories[i].name] = categories[i].value;
        }
      }

      $(document).ready(function(){
        $("#shuffleType-random").attr('checked','checked');
        $("input[name=shuffleTypeBtn]:radio").change(function(){
          shuffleType = $(this).val();
          shuffleParam = "";
          if (shuffleType === "spread"){
            if ($("#biasoptions").is(':visible')){
              $('#biasoptions').slideToggle("fast");
            }
            $('#spreadoptions').slideToggle("fast");
          }
          else if (shuffleType === "biased"){
            if ($("#spreadoptions").is(':visible')){
              $('#spreadoptions').slideToggle("fast");
            }
            $('#biasoptions').slideToggle("fast");
          }
          else if (shuffleType === "random"){
            if ($("#spreadoptions").is(':visible')){
              $('#spreadoptions').slideToggle("fast");
            }
            if ($("#biasoptions").is(':visible')){
              $('#biasoptions').slideToggle("fast");
            }
          }
        });

        $("input[name=spreadParam]:radio").change(function(){
          shuffleParam = $(this).val();
        });

        $("input[name=bias-category]:radio").change(function(){
          shuffleParam = $(this).val();
          getCategories();
          getRanks();
        });

      });
</script>
