<meta charset="UTF-8">
<title>Shuffle+</title>
<link type="text/css" rel="stylesheet" href="basicstyle.css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
      var currentPlaylist;
      var shuffleType;
      var shuffleParam = "artist";

      var beginning = "";
      if ("<%= env %>" === "Local") {
        beginning = "http://localhost:5000";
      } else {
        beginning = "shuffleplus.herokuapp.com";
      }
      var renderTracklist = function(caller){
        //Get tracklist id from html button element
        currentPlaylist = caller.getAttribute("id");
        //Call the get-tracks endpoint with the given playlist's id
        $.ajax({
          url: beginning + "/get-tracks/<%= user_id %>/" + currentPlaylist + "/<%= access_token %>",
          context: document.body
        }).done(function(data){
          //Append the returned html to the tracklist div
          $("#tl-div").html(data);
          console.log(tracks);
          //Make a Spotify play button widget and prepend it to the tracklist div
        });
      };

      var shufflePlaylist = function(caller){
        $("#tl-div").html("<p>Shuffling...</p>");
        shuffleType = caller.getAttribute("name");
        $.ajax({
          url: beginning + "/shuffle/" + shuffleType + "/<%= user_id %>/" + currentPlaylist +  "/<%= access_token %>",
          context: document.body
        }).done(function(data){
          if (data === "Shuffle Success"){
            console.log("Shuffle Success");
            document.getElementsByName(currentPlaylist)[0].click();
          }
          else {
            console.log("Shuffle Error");
          }
        });
      }

      var getCategories = function(){
        console.log("Getting categories");
        $.ajax({
          url: beginning + "/get-categories/<%= user_id %>/" + currentPlaylist + "/" + shuffleParam +  "/<%= access_token %>",
          context: document.body
        }).done(function(data){
          $("#category-div").html(data);
        });
      }

      $("#shuffleType-random").focus(function(){
        shuffleType = "random";
        console.log("Switched to random");
      });

      $("#shuffleType-spread").focus(function(){
        shuffleType = "spread";
        console.log("Switched to spread");
      });

      $("#shuffleType-biased").focus(function(){
        shuffleType = "biased";
        console.log("Switched to biased");
      });
</script>
