<meta charset="UTF-8">
<title>Shuffle+</title>
<link type="text/css" rel="stylesheet" href="basicstyle.css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
      var beginning = "";
      if ("<%= env %>" === "Local") {
        beginning = "http://localhost:5000";
      } else {
        beginning = "shuffleplus.herokuapp.com";
      }
      var renderTracklist = function(caller){
        //Get tracklist id from html button element
        var playlist_id = caller.getAttribute("id");
        //Call the get-tracks endpoint with the given playlist's id
        $.ajax({
          url: beginning + "/get-tracks/<%= user_id %>/" + playlist_id + "/<%= access_token %>",
          context: document.body
        }).done(function(data){
          //Append the returned html to the tracklist div
          $("#tl-div").html(data);

          //Make a Spotify play button widget and prepend it to the tracklist div
          var src = "https://embed.spotify.com/?uri=spotify:user:" + <%= user_id %> + ":playlist:" + playlist_id + "&theme=white&view=coverart"
          var player = document.createElement("iframe");
          player.setAttribute("src", src);
          player.setAttribute("frameborder", "0");
          player.setAttribute("allowtransparency", "true");
          $("#tl-div").prepend(player);
          var randomShuffleBtn = document.createElement("button");
          randomShuffleBtn.innerHTML = "Random Shuffle";
          randomShuffleBtn.setAttribute("id", playlist_id);
          randomShuffleBtn.setAttribute("name", "random");
          randomShuffleBtn.setAttribute("onClick", "shufflePlaylist(this)");
          $("#tl-div").prepend(randomShuffleBtn);
          var spreadShuffleBtn = document.createElement("button");
          spreadShuffleBtn.innerHTML = "Spread Shuffle";
          spreadShuffleBtn.setAttribute("id", playlist_id);
          spreadShuffleBtn.setAttribute("name", "spread");
          spreadShuffleBtn.setAttribute("onClick", "shufflePlaylist(this)");
          $("#tl-div").prepend(spreadShuffleBtn);
        });
      };

      var shufflePlaylist = function(caller){
        $("#tl-div").html("<p>Shuffling...</p>");
        var playlist_id = caller.getAttribute("id");
        var shuffleType = caller.getAttribute("name");
        $.ajax({
          url: beginning + "/shuffle/" + shuffleType + "/<%= user_id %>/" + playlist_id +  "/<%= access_token %>",
        }).done(function(data){
          if (data === "Shuffle Success"){
            console.log("Shuffle Success");
            document.getElementsByName(playlist_id)[0].click();
          }
          else {
            console.log("Shuffle Error");
          }
        });
      };
</script>
